@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  0.1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  0.3% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  1.6% {
    opacity: .4;
  }
  1.9% {
    opacity: 1;
  }
  2.6% {
    opacity: 1;
  }
  2.8% {
    opacity: .4;
  }
  3.2% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  0.1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  0.3% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  1.6% {
    opacity: .4;
  }
  1.9% {
    opacity: 1;
  }
  2.6% {
    opacity: 1;
  }
  2.8% {
    opacity: .4;
  }
  3.2% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateCross {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  0.6% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCross {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  0.6% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes runnerIn {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  1% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@keyframes runnerIn {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  1% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@-webkit-keyframes slideDown {
  100% {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
  }
}

@keyframes slideDown {
  100% {
    -webkit-transform: translate(0, 150%);
            transform: translate(0, 150%);
  }
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 3px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 3px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 3px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 3px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes showFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes hideFromTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-105%);
            transform: translateY(-105%);
  }
}

@keyframes hideFromTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-105%);
            transform: translateY(-105%);
  }
}
/*# sourceMappingURL=animations.css.map */