@keyframes rotate {
    0% {
        transform: rotate(0);
        opacity: 0;
    }

    0.1% {
        transform: rotate(30deg);
    }


    0.3% {
        opacity: 1;
    }

    1% {
        opacity: 1;
    }

    1.6% {
        opacity: .4;
    }

    1.9% {
        opacity: 1;
    }

    2.6% {
        opacity: 1;
    }

    2.8% {
        opacity: .4;
    }

    3.2% {
        opacity: 1;
    }


    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCross {
    0% {
        transform: rotate(0);
    }

    0.6% {
        transform: rotate(30deg);
    }


    100% {
        transform: rotate(360deg);
    }
}

@keyframes runnerIn {
    0% {
        transform: translateX(-50%);
    }

    1% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-8%);
    }
}


@keyframes slideDown {

    100% {
        transform: translate(0, 150%);
    }

}

// burger //

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 3px;
        transform: rotate(0);
    }

    100% {
        top: 3px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 3px;
        transform: rotate(45deg);
    }

    50% {
        top: 3px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 9px;
        transform: rotate(0);
    }

    100% {
        bottom: 9px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 9px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 9px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes showFromTop {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hideFromTop {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(-105%);
    }
}