.wrapOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
    height: 100vh;
    font-family: $mainFont;
    position: relative;

    .columnOfferTexts {
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 250px;
        min-width: 300px;
        background: rgb(30, 54, 93);
        background: $mainGradient;

        .columnOfferTexts__imgCrossWhite {
            right: unset;
            left: 7%;
            bottom: 7%;
        }

        .columnOfferTexts__imgCrossBlue {
            right: 7%;
            top: 15%;

            &--smaller {
                top: 6%;
                left: 8%;
            }

        }

        .columnOfferTexts__article {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            .columnOfferTexts__title {
                color: black;
                background-color: white;
                width: 60%;
                text-align: center;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 500;
                z-index: 9;
            }

            .columnOfferTexts__subTitle {
                text-transform: uppercase;
                text-align: center;
                font-weight: 400;
                font-size: 25px;
                width: 100%;
                height: auto;
                margin: 2% 0;
                background-color: rgba($color: #000000, $alpha: .3);
            }

            .columnOfferTexts__list {
                font-family: $secondFont;
                font-size: 10px;

                .columnOfferTexts__listElement {
                    .columnOfferTexts__listElementImg {
                        height: 20px;
                    }
                }
            }
        }
    }

    .columnOfferPlans {
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        min-height: 200px;
        min-width: 300px;

        .columnOfferPlans__wrapOffer {
            .columnOfferPlans__offer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: $mainGradient;
                border-radius: 20px;
                padding: 30px 20px 30px;

                h3,
                p,
                button {
                    font-family: $secondFont;
                    background: $offerGradientBasic;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .columnOfferPlans__price {
                    font-family: $secondFont;
                    font-weight: 300;
                    font-size: 50px;
                }


                .columnOfferPlans__description {
                    font-family: $secondFont;
                    text-align: center;
                    font-size: 10px;
                    margin: 10px 0;
                }

                .columnOfferPlans__list {
                    font-family: $secondFont;
                    font-size: 12px;
                    margin: 10px 0;
                    list-style: none;
                    width: 100%;
                    color: white;
                    background: $offerGradientBasic;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    .columnOfferPlans__listElement {
                        margin: 3px 0;
                        width: 100%;
                        padding: 5px;
                    }

                    .columnOfferPlans__listElement:nth-child(even) {
                        background-color: rgba($color: #000000, $alpha: .2);
                    }
                }

                .columnOfferPlans_btn {
                    font-family: $mainFont;
                    text-transform: uppercase;
                }
            }
        }

    }
}